body, html {
	width: 100%;
	height: 100%;
	font-family: "Arial";
	background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 3rem;
	color: #e2dbdb;
}

section {
	text-align: center;
}

hr {
	border-color: #F05F44;
	border-width: 3px;
	max-width: 65px;
	border: 3px solid #F05F44;	
}

.buffer {
	height: 11rem;
}

.btn {
	font-weight: 700;
	border-radius: 350px;
	text-transform: uppercase;
	color: white;
}

.btn-primary {
	background-color: #F05F44;
	border: #F05F44;
}

.btn-primary:hover {
	background-color: #F05F44;
	border: #F05F44;
}

.btn-xl {
	padding: 1rem 2rem;

}

